header {
  background-color: lightgray;
  padding-bottom: 5px;
}

.header-banner {
  text-align: center;
  font-size: 40px;
}

nav > ul {
  margin: 5px 0;
  text-align: center;
  display: inline-flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  width: 100%;
  display: flex;
}

nav > ul > li > a {
  font-size: 20px;
  text-decoration: none;
  width: 100%;
}

nav > ul > li > a:hover {
  background-color: #eee;
  transition-duration: 0.5s;
}
