header {
  background-color: lightgray;
  padding-bottom: 5px;
}

nav {
  margin: 5px 0;
  text-align: center;
  display: inline-flex;
  width: 100%;

}

nav > div {
  width: 100%;
  display: flex;

}

nav > div > a {
  font-size: 20px;
  text-decoration: none;
  width: 100%;
}

nav > div > a:hover {
  background-color: #eee;
  transition-duration: 0.5s;
}

#banner {
  text-align: center;
  font-size: 40px;
}