.register {
  width: 200px;
  border: solid black 1px;
  border-radius: 5px;
  box-shadow: 3px 3px #aaa;
  margin: 10px auto;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form-row {
  display: flex;
  margin: 5px auto;
}

.register-form > button {
  margin: 10px auto;
}