.addoredititem {
  width: fit-content;
  border: solid black 1px;
  border-radius: 5px;
  box-shadow: 3px 3px #aaa;
  margin: 10px auto;
  text-align: left;
}

.addoredit-form > input {
  margin: 3px 10px;
}

.addoredit-form > input[type="checkbox"] {
  margin: 7px 10px;
}

.addoredit-form > select {
  margin: 3px 10px;
  width: 170px;
}

.addoredit-form > label {
  text-align: left;
  width: 150px;
  margin: 3px 10px;
  float: left;
}

.addoredit-form > button {
  margin: 3px;
}

.addoredit-form > textarea {
  margin: 3px 10px;
  width: 165px;
  resize: vertical;
}